<configuration>

    <conversionRule conversionWord="levelColor"
                    class="br.com.pegasus.api.rest.commerce.infra.telemetry.logger.LevelColorConverter"/>

    <logger name="CUSTOM_LOG" additivity="false" level="INFO">
        <appender-ref ref="CUSTOM_APPENDER"/>
    </logger>
    <appender name="CUSTOM_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%levelColor(⬤ AUDIT) %levelColor(%level) [%magenta(%d{HH:mm:ss.SSS})] %levelColor(%msg) %n</pattern>
        </encoder>
    </appender>

    <!-- LOG CONVENCIONAL -->
    <root level="info">
        <appender-ref ref="INFO_APPENDER"/>
        <appender-ref ref="WARN_APPENDER"/>
        <appender-ref ref="ERROR_APPENDER"/>
    </root>

    <appender name="INFO_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>⬤ INFO [%magenta(%d{HH:mm:ss.SSS})] [%magenta(%logger{36})] → %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="WARN_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(⬤ WARN) [%magenta(%d{HH:mm:ss.SSS})] [%magenta(%logger{36})] → %yellow(%msg%n)</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="ERROR_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(⬤ ERRO) [%magenta(%d{HH:mm:ss.SSS})] [%magenta(%logger{36})] → %red(%msg%n)\r%caller%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

</configuration>