<included>

    <conversionRule conversionWord="levelColor"
                    class="br.com.pegasus.api.rest.commerce.infra.logback.LevelColorConverter"/>

    <logger name="TRACE_LOG" additivity="false" level="INFO">
        <appender-ref ref="TRACE_APPENDER"/>
    </logger>

    <appender name="TRACE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%levelColor(⬤ TRACE) %levelColor(%level) [%magenta(%d{HH:mm:ss.SSS})] %levelColor(%msg) %n
            </pattern>
        </encoder>
    </appender>

</included>