<included>

    <root level="info">
        <appender-ref ref="INFO_APPENDER"/>
        <appender-ref ref="WARN_APPENDER"/>
        <appender-ref ref="ERROR_APPENDER"/>
    </root>

    <appender name="INFO_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>⬤ INFO [%magenta(%d{HH:mm:ss.SSS})] [%magenta(%logger{36})] → %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="WARN_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(⬤ WARN) [%magenta(%d{HH:mm:ss.SSS})] [%magenta(%logger{36})] → %yellow(%msg%n)</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ERROR_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(⬤ ERRO) [%magenta(%d{HH:mm:ss.SSS})] [%magenta(%logger{36})] → %red(%msg%n)\r%caller%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

</included>