/* Marca-texto: Amarelo */
.color-yellow-highlighter   { background-color: #ffff99; padding: 2px 4px;}

/* Marca-texto: Laranja */
.color-orange-highlighter   { background-color: #e65100; padding: 2px 4px; }

/* Marca-texto: Cinza */
.color-gray-highlighter     { background-color: #dddddd; padding: 2px 4px; }









/* ----- */
/* Marca-texto: Amarelo */
.background-text-yellow-highlighter {
    background-color: #ffff99;
    padding: 2px 4px;
}

/* Marca-texto: Laranja */
.background-text-orange {
    background-color: #e65100;
    padding: 2px 4px;
}

/* Marca-texto: Cinza */
.background-text-color-gray-5 {
    background-color: #dddddd;
    padding: 2px 4px;
}

.background-text-color-yellow {
    background-color: #f9a825;
    padding: 2px 4px;
}