/* Black and White*/
.color-black    { color: #000000; }
.color-white    { color: #ffffff; }

/* Azul */
.color-blue-light       { color: #bbdefb; }
.color-blue-medium      { color: #2196f3; }
.color-blue-strong      { color: #0d47a1; }

/* Verde */
.color-green-light      { color: #c8e6c9; }
.color-green-medium     { color: #4caf50; }
.color-green-strong     { color: #1b5e20; }

/* Vermelho */
.color-red-light        { color: #ffcdd2; }
.color-red-medium       { color: #f44336; }
.color-red-strong       { color: #b71c1c; }

/* Laranja */
.color-orange-light     { color: #ffe0b2; }
.color-orange-medium    { color: #ff9800; }
.color-orange-strong    { color: #e65100; }

/* Amarelo */
.color-yellow-light     { color: #fff9c4; }
.color-yellow-medium    { color: #fbc02d; }
.color-yellow-strong    { color: #f57f17; }

/* Roxo */
.color-purple-light     { color: #e1bee7; }
.color-purple-medium    { color: #9c27b0; }
.color-purple-strong    { color: #4a148c; }

/* Rosa */
.color-pink-light  { color: #f8bbd0; }
.color-pink-medium { color: #e91e63; }
.color-pink-strong { color: #880e4f; }

/* Marrom */
.color-brown-light  { color: #d7ccc8; }
.color-brown-medium { color: #795548; }
.color-brown-strong { color: #3e2723; }

/* Azul Esverdeado */
.color-teal-light  { color: #b2dfdb; }
.color-teal-medium { color: #009688; }
.color-teal-strong { color: #004d40; }

/* Cinza */
.color-gray-light   { color: #eeeeee; }
.color-gray-medium  { color: #9e9e9e; }
.color-gray-strong  { color: #424242; }

.color-gray-scale-1       { color: #333333; } /* MAIS FORTE */
.color-gray-scale-2       { color: #555555; }
.color-gray-scale-3       { color: #777777; }
.color-gray-scale-4       { color: #999999; }
.color-gray-scale-5       { color: #dddddd; }
.color-gray-scale-6       { color: #eeeeee; }
.color-gray-scale-7       { color: #f0f0f0; }
.color-gray-scale-8       { color: #f5f5f5; } /* MAIS FRACO */
